<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Security Camera</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <!-- jQuery library -->
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-dark text-white p-3">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary m-3" onclick="rotate_servo1(5)">Rotate Up</button>
            <button type="button" class="btn btn-primary m-3" onclick="rotate_servo1(-5)">Rotate Down</button>
            <button type="button" class="btn btn-primary m-3" onclick="rotate_servo2(5)">Rotate Left</button>
            <button type="button" class="btn btn-primary m-3" onclick="rotate_servo2(-5)">Rotate Right</button>
        </div>
        <div class="d-flex justify-content-center m-3">
            <div class="checkbox">
                <input type="checkbox" onclick="toggle_sweep()" id="sweep">Sweep</input>
            </div>
            <div class="checkbox">
                <input type="checkbox" onclick="toggle_object_detection()">Object Detection</input>
            </div>
        </div>
        <div class="d-flex justify-content-center m-3">
            <img height="360" width="640" src="{{ url_for('camera') }}">
        </div>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script>
            function toggle_sweep() {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "{{ url_for('toggle_sweep') }}", false);
                xhttp.send();
            }
            function toggle_object_detection() {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "{{ url_for('toggle_object_detection') }}", false);
                xhttp.send();
            }
            function rotate_servo1(rotation) {
                document.getElementById("sweep").checked = false;
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "{{ url_for('rotate_servo1') }}", false);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("rotation="+rotation);
            }
            function rotate_servo2(rotation) {
                document.getElementById("sweep").checked = false;
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "{{ url_for('rotate_servo2') }}", false);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("rotation="+rotation);
            }
        </script>
    </body>
</html>